*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
body
{
font-family: sans-serif;
}
header
{
    height: 100vh;
    background: url(home_bg.jpeg) center center/cover no-repeat; 
    position: relative;
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img
{
    width: 80px;
    margin-left: 100px;
}
ul{
    list-style: none;

}
a
{
    text-decoration: none;

}
.navbar ul
{
    display: flex;
    margin-right: 100px;
}
.navbar ul li a
{
    color:  #ff6b00;
    padding:15px 20px;
    font-weight: 600;
}
.navbar ul li a:hover
{
    border-bottom: 2px solid #cc5500;
}

.menu-table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}

.menu-table tr {
  border-bottom: 1px dashed #ccc;
}

.menu-table td {
  padding: 20px;
  vertical-align: middle;
}

.img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.info h3 {
  margin: 0;
  font-size: 18px;
}

.info p {
  margin: 5px 0 0;
  color: #777;
  font-size: 14px;
}

.price {
  color: #ffb84d;
  font-weight: bold;
  font-size: 18px;
  text-align: right;
}
header .content
{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
}
header .content h1
{
    font-size: 40px;
    color: white;
}
header .content p
{
    color: #fff;
    margin: 20px 0 40px;
}
.p-text
{
    color: #e4b95b;
}
.btn
{
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    border:none;
}
.btn-p
{
    color: white;
    border: 1px solid white;
}
.btn-p:hover,.btn-secondry:hover
{
    background-color: #e4b95b;

}
header::before
{
    position: absolute;
    content: "";
    background: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
}
header *
{
    z-index: 10;
    animation: fadeIn 2s forwards;
}
.container
{
    max-width: 1100px;
    margin: auto;
}
#about
{
display: flex;
justify-content: center;
align-items: center;
height: 80vh;
background-color: #f4f4f4;
}
#about .title,#offers .title,#menu .title
{
    text-align: center;
    margin-bottom: 4rem;
}
#about h2 ,#offers h2,#menu  h2,#gallary h2


{
    font-size: 40px;
    margin-bottom: 20px;
}
#about h2 #menu  h2
{
        color: #383848;

}
#about .title p ,#menu .title p 
{
    font-size: 14px;
    color: #9a9a9a;
    font-weight: 600;
}
#about .about-content
{
display: flex;
justify-content: space-between;
}
#about .about-content img
{
    width:450px;
}
#about .about-content p
{
    color: #9a9a9a;
    margin-right:7rem ;
    font-weight: 500;
    line-height: 1.6;
}
.btn-secondry
{
    color: #fff;
    background-color: #383848;
    margin-top: 2rem;
}
#offers
{
    height:80vh;
    display: flex;
    justify-content: center;
    background: url(offer-background.jpg) center center/cover fixed;
}
#offers h2{
        color: #e4b95b;

}
#offers .title p{
    color: #fff;
    font-weight: 500;
}

#offers .offers-items
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;

} 
#offers .offers-items img
{
    width:200px;
}
#offers .offers-items h3
{
        font-size: 25px;
    margin: 15px 0;
}
#offers .offers-items p
{
 font-weight: 300;
 font-size: 14px;
 margin-bottom: 15px;
 padding: 0 20px;   
}
#offers .offers-items span
{
    font-weight: 600;
    font-size: 18px;
    margin-left: 15px;
}
#menu
{
    background-color: #f4f4f4;
    padding: 5rem 0;

}
#menu .menu-items
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu .menu-items .menu-item img
{
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
}
#menu .menu-items .menu-item
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:40px ;
}
#menu .menu-items .menu-item h3
{
    color: #383848;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
    border-bottom: 1px dashed #c2bdbd;
}
#menu .menu-items .menu-item span{
    position: absolute;
    top:0;
    right: 0;
}
#menu .btn
{
    background-color: #e4b95b;
    color: #fff;
    display: block;
    margin:20px auto 0;
    cursor: pointer;
}
#menu .btn:hover
{
    background-color: #383848;
}
#daytime
{
    background: url(daytime_bg.jpeg) center center/cover fixed no-repeat;
    color: #fff;
}
#daytime .daytime-items
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 40vh;
}
#daytime .daytime-items h3{
    font-size: 32px;
    margin: 20px 0 10px;
}
#daytime .daytime-items p
{
    font-weight: 500;
}
#gallary
{
    background: url(offer-background.jpg) center center/cover no-repeat;
    padding: 8rem 0 6rem;
}
#gallary .img-gallary img
{
    width: 280px;
    height: 200px;
    border-radius: 15px;
    margin: 20px;
    opacity: 0.8;
}
#gallary .img-gallary
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#gallary h2{
    color: #fff;
    text-align: center;
    text-transform: capitalize;
}
#gallary .img-gallary img:hover
{
    opacity: 1;
}
#contact
{
    padding: 5rem 0;
    background-color: #f4f4f4;
}
#contact .container
{
    max-width: 900px;
}
#contact .contact-contact
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#contact .contact-contact .contect-info
{
    width: 50%;
}
#contact .contact-contact .contect-info div
{
    margin: 30px 0;
    line-height: 1.7;
}
#contact .contact-contact .contect-info h3
{
    font-size: 28px;
    color: #383848;
    margin-bottom: 10px;
}
#contact .contact-contact .contect-info p
{
    color: #9a9a9a;
}
#contact .contact-contact .contect-info i
{
    color: #e4b95b;
    margin-right:5px ;
}
#contact .contact-contact .contect-info a i
{
    font-size: 20px;
    padding: 15px;
    background-color: #383848;
    color: #fff;
    border-radius: 50%;
}
#contact .contact-contact .contect-info a i:hover
{
    background-color: #e4b95b;
    color: #383848;
}
form{
    width: 50%;
}
form input,textarea
{
    border: none;
    display: block;
    width: 100%;
    background-color:#e3e2dd;
    padding: 20px 15px;
    margin: 15px 0;
}
form .btn
{
    background-color: #e4b95b;
    color: #fff;
}
#contact .btn:hover
{
    background-color: #383848;
    cursor: pointer;
}
footer
{
    text-align: center;
    background-color: #38483c;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 768px) {
    #contact .contact-contact {
        flex-direction: column;
    }

    form,
    #contact .contect-info {
        width: 100%;
    }
}
